<div class="page-wrapper">
        <div class="content container-fluid">

          

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor Name</th>
                                            <th>Speciality</th>
                                            <th>E-mail</th>
                                            <th>Earned</th>
                                            <th>Account Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let doctor of doctors">
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="profile.html">{{ doctor.nom }} {{ doctor.prenom }}</a>
                                                </h2>
                                            </td>
                                            <td>{{ doctor.Specialty.name }}</td>
                                                <td>{{ doctor.email }}</td>
                                            <td>
                                                <div class="status-toggle">
                                                    <input type="checkbox" [checked]="doctor.isVerified" id="status_{{ doctor._id }}" class="check">
                                                    <label for="status_{{ doctor._id }}" class="checktoggle">checkbox</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>